<nav class="nav--mobile__container">
    <button class="opc inicio--mobile__container">
        <i class="ti ti-layout-dashboard"></i>
        inicio
    </button>

    <button class="opc empleados--mobile__container">
        <i class="ti ti-users"></i>
        Empleados
    </button>

    <button class="opc inventario--mobile__container">
        <i class="ti ti-box"></i>
        Inventario
    </button>

    <button class="opc polizas--mobile__container">
        <i class="ti ti-file-invoice"></i>
        Pólizas
    </button>
</nav>
