<header class="header--mobile__container">
    <a href="#">Dashboard</a>
    <div class="user--card">
        <p>A</p>
    </div>
</header>

<main>
    <div class="cards--dashboard">
        <div class="card__container">
            <p class="txt titulo">Pólizas</p>
            <p class="txt cantidad">124</p>
        </div>

        <div class="card__container">
            <p class="txt titulo">Empleados</p>
            <p class="txt cantidad">20</p>
        </div>

        <div class="card__container">
            <p class="txt titulo">Artículos</p>
            <p class="txt cantidad">120</p>
        </div>

        <div class="card__container">
            <p class="txt titulo">Faltantes</p>
            <p class="txt cantidad critica">7</p>
        </div>
    </div>

    <div class="poliza__mobile--recent">
        <div class="poliza__mobile--header">
            <p class="txt">Pólizas recientes</p>
        </div>
        <div class="poliza__card">
            <div class="card__datos">
                <p class="identificador">#123 -- Aldo Rodriguez</p>
                <p class="producto">Teclado USB. Cant. 3</p>
            </div>
            <div class="estatus__container">
                <p class="txt__estatus">Activa</p>
            </div>
        </div>
        <div class="poliza__card">
            <div class="card__datos">
                <p class="identificador">#123 -- Aldo Rodriguez</p>
                <p class="producto">Teclado USB. Cant. 3</p>
            </div>
            <div class="estatus__container">
                <p class="txt__estatus">Activa</p>
            </div>
        </div>
        <div class="poliza__card">
            <div class="card__datos">
                <p class="identificador">#123 -- Aldo Rodriguez</p>
                <p class="producto">Teclado USB. Cant. 3</p>
            </div>
            <div class="estatus__container">
                <p class="txt__estatus">Activa</p>
            </div>
        </div>
    </div>

    <!-- <div class="poliza__table--container">
        <div class="poliza__table--header">
            <p class="txt">Pólizas recientes</p>
            <button>Ver todas</button>
        </div>

        <table>
            <tr>
                <th>ID</th>
                <th>Empleado</th>
                <th>Artículo</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td>#12</td>
                <td>Aldo Rodrigeuz</td>
                <td>Teclado USB</td>
                <td>3</td>
                <td>Hoy 12:00</td>
                <td>Activa</td>
            </tr>
        </table>
    </div> -->
</main>