<header class="header--mobile__container">
    <a routerLink="/dashboard">Dashboard</a>
    <div class="user--card">
        <p>A</p>
    </div>
</header>

<main>
    <div class="cards--dashboard">
        <div class="card__container">
            <p class="txt titulo">Pólizas</p>
            <p class="txt cantidad"> {{ (polizas$ | async)?.length ?? 0 }} </p>
        </div>

        <div class="card__container">
            <p class="txt titulo">Empleados</p>
            <p class="txt cantidad"> {{(empleados$ | async)?.length ?? 0}} </p>
        </div>

        <div class="card__container">
            <p class="txt titulo">Artículos</p>
            <p class="txt cantidad"> {{(inventarios$ | async)?.length ?? 0}} </p>
        </div>

        <div class="card__container">
            <p class="txt titulo">Faltantes</p>
            <p class="txt cantidad critica"> {{(criticos$ | async)?.length ?? 0}} </p>
        </div>
    </div>

    <div class="poliza__mobile--recent">
        <div class="poliza__mobile--header">
            <p class="txt">Pólizas recientes</p>
        </div>
        @for(poliza of (polizas$ | async); track poliza.idPoliza){
        <div class="poliza__card">
            <div class="card__datos">
                <p class="identificador">#<span>{{poliza.idPoliza}} -- {{poliza.nombreEmpleado}}</span></p>
                <p class="producto"><span>{{poliza.nombreArticulo}}. </span> Cant. <span> {{poliza.cantidadFaltante}}
                    </span></p>
            </div>
        </div>
        }
    </div>

    <div class="mobile-fab-container">
        <div class="card__logout">
            <button (click)="logout()">
                <i class="ti ti-logout"></i>
            </button>
        </div>

        <app-theme-toggle></app-theme-toggle>
    </div>
</main>