<header>
    <div class="links__container">
        <a routerLink="/dashboard">Inicio</a>
        <p>/</p>
        <a routerLink="/polizas" class="actual">Polizas</a>
    </div>

    <button routerLink="/polizas/nuevo">
        <i class="ti ti-plus"></i>
        Nueva Póliza
    </button>
</header>


<main>
    <div class="table__container">
        <div class="table__header">
            <p class="txt title">Pólizas</p>
            <p class="txt size"> ({{(polizas$ | async)?.length ?? 0}}) </p>
        </div>
        <div class="table--wrapper">
            <table>
                <tr class="titles">
                    <th>ID</th>
                    <th>Empleado</th>
                    <th>Artículo</th>
                    <th>SKU</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th></th>
                    <th></th>
                </tr>

                @for (poliza of (polizas$ | async); track $index) {
                <tr>
                    <td> {{poliza.idPoliza}} </td>
                    <td> {{poliza.nombreEmpleado}} </td>
                    <td> {{poliza.nombreArticulo}} </td>
                    <td> {{poliza.sku}} </td>
                    <td> {{poliza.cantidadFaltante}} </td>
                    <td> {{poliza.fechaCreacion | date:'dd/MM/yyyy HH:mm'}} </td>
                    <td>
                        <a [routerLink]="['/polizas', poliza.idPoliza, 'editar']"><i class="ti ti-edit"></i></a>
                    </td>
                    <td>
                        <button (click)="abrirModalEliminar(poliza.idPoliza)"><i class="ti ti-trash"></i></button>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</main>

<div class="modal" [class.active]="modalEstatus">
    <div class="modal__container">
        <p>¿Seguro que desea eliminar el registro?</p>
        <i class="ti ti-alert-octagon"></i>
        <div class="buttons__container">
            <button (click)="cerrarModalEliminar()" class="cancelar">Cancelar</button>
            <button class="eliminar" (click)="eliminarPoliza()">Eliminar</button>
        </div>
    </div>
</div>
