@import 'normalize.css';
@import '../src/app/styles/inter/inter.css';


:root {
    --bgBase: #FAFAFA;
    --bgSurface: #FFFFFF;
    --bgRaised: #F4F4F4;
    --bgHover: #E4E4E7;
    --border: #E4E4E7;
    --borderHover: #D4D4D8;
    --textPrimary: #09090B;
    --textSecondary: #71717A;
    --textTertiary: #A1A1AA;
    --primary: #5865F2;
    --primaryHover: #4752C4;
    --primaryActive: #3B42A8 --success: #22C55E;
    --primarySubtle: rgba(88,101,242,.15);
    --success: #22C55E;
    --successSubtle: rgba(34,197,94,.15);
    --warning: #F59E0B;
    --warningSubtle: rgba(245,158,11,.15);
    --danger: #EF4444;
    --dangerSubtle: rgba(239,68,68,.15);
}

.dark {
    --bgBase: #0A0A0A;
    --bgSurface: #111111;
    --bgRaised: #1A1A1A;
    --bgHover: ##222222;
    --border: #2A2A2A;
    --borderHover: #333333;
    --textPrimary: #F0F0F0;
    --textSecondary: #888888;
    --textTertiary: #555555
    --primary: #5865F2;
    --primaryHover: #4752C4;
    --primaryActive: #3B42A8 --success: #22C55E;
    --primarySubtle: rgba(88,101,242,.15);
    --warning: #F59E0B;
    --danger: #EF4444;
}

html, body{
    height: 100dvh;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-size: 1.6rem;
    color: var(--textPrimary);
    font-family: 'inter';
    font-weight: normal;
    background-color: var(--bgBase);
}

button{
    color: var(--textPrimary);
}