<header>
    <div class="route__container">
        <a routerLink="/dashboard" class="inicio">Inicio</a>
        <p>/</p>
        <a routerLink="/empleados" class="empleados">Empleados</a>
    </div>

    <button routerLink="/empleados/nuevo">
        <i class="ti ti-plus"></i>
        Nuevo
    </button>
</header>

<main>
    <div class="table__container">
        <div class="table__header">
            <p class="txt title">Empleados</p>
            <p class="txt size"> ({{(empleados$ | async)?.length ?? 0}}) </p>
        </div>
        <div class="table--wrapper">
            <table>
                <tr class="titles">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Pólizas</th>
                    <th></th>
                    <th></th>
                </tr>

                @for (empleado of (empleados$ | async); track $index) {
                <tr>
                    <td> {{empleado.idEmpleado}} </td>
                    <td>{{empleado.nombre}} {{empleado.apellido}} </td>
                    <td><span> {{empleado.puesto}} </span></td>
                    <td> {{(contarPolizas(empleado.idEmpleado) | async)}} </td>
                    <td>
                        <a [routerLink]="['/empleados', empleado.idEmpleado, 'editar']"><i class="ti ti-edit"></i></a>
                    </td>
                    <td>
                        <button (click)="abrirModalEliminar(empleado.idEmpleado)"><i class="ti ti-trash"></i></button>
                    </td>
                </tr>
                }

            </table>
        </div>


    </div>

</main>

<div class="modal" [class.active]="modalEstatus">
    <div class="modal__container">
        <p>¿Seguro que desea eliminar el registro?</p>
        <i class="ti ti-alert-octagon"></i>
        <div class="buttons__container">
            <button (click)="cerrarModalEliminar()" class="cancelar">Cancelar</button>
            <button class="eliminar" (click)="eliminarEmpleado()">Eliminar</button>
        </div>
    </div>
</div>